@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  background-color: #fdfdfd;
  font-family: 'Lora', 'Times New Roman', Serif;
  font-size: 20px;
}

p {
  margin: .5em 0;
}

h1 {
  line-height: 1.1em;
}

footer {
  color: #555;
  font-size: 80%;
  margin-top: 3em;
}

hr {
  margin: 2em auto;
  width: 75%;
}

section {
  padding: 1em;
  text-align: center;
  width: 900px;
}

blockquote {
  margin-bottom: 0;
}

.narrow {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.disqus {
  margin-top: 4em;
}

.top-icons {
   vertical-align: middle;
   margin-left: 2em;
}

  .top-icons a {
    color: #555;
    margin-right: .4em;
  }

  .top-icons a:hover {
    text-decoration: none;
  }

.buttons {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

  .button {
    position: relative;
  }

  .icon {
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
    display: inline-block;
    height: 2.2em;
    line-height: 1.4em;
    margin-bottom: .2em;
    margin-right: .2em;
    padding: .4em;
    text-align: center;
    vertical-align: middle;
    width: 2.2em;
  }

  .icon:hover {
    background-color: #367ac3;
    border-color: #367ac3;
    color: white;
  }

  .count {
    background-color: white;
    border: 1px solid gray;
    color: gray;
    display: none;
    font-family: monospace;
    font-size: .6em;
    line-height: 1em;
    padding: 0 .2em;
    position: absolute;
    right: .3em;
    top: -.7em;
  }
