<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru" itemscope="" itemtype="http://schema.org/WebSite">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="политика, украина, коррупция, власть, право, выборы, партия, свобода, равенство, демократия"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh"/>
    <link rel="stylesheet" href="http://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <section>
      <header class="narrow">
        <p>
          <a href="/"><img src="/images/logo.svg" style="height:150px;vertical-align:middle;" alt="sozidanie logo"/></a>
          <span class="top-icons">
            <a href="https://www.facebook.com/sozidanie.org.ua" title="Читайте нас на Facebook">
              <i class="socicon-facebook"></i>
            </a>
            <a href="https://twitter.com/intent/follow?screen_name=sozidanieorgua" title="Следите за новостями на Twitter">
              <i class="socicon-twitter"></i>
            </a>
            <a href="/rss.xml" title="Подпишитесь на наш RSS канал">
              <i class="socicon-rss"></i>
            </a>
            <a href="mailto:sozidanie.org.ua@gmail.com" title="Пишите нам письма">
              <i class="socicon-mail"></i>
            </a>
          </span>
        </p>
      </header>
      <div>{{ content }}</div>
      <footer class="narrow">
        <p>
          &copy; 2017 "Созидание".
          Все авторские права принадлежат авторам.
        </p>
      </footer>
    </section>
  </body>
  <script>var disqus_shortname = 'sozidanieorgua';</script>
  <script id="dsq-count-scr" src="//sozidanieorgua.disqus.com/count.js" async="async"></script>
</html>
