<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru" itemscope="" itemtype="http://schema.org/WebSite">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="политика, украина, коррупция, власть, право, выборы, партия, свобода, равенство, демократия"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <link rel="stylesheet" href="//d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name='og:image' content='//www.sozidanie.org.ua/images/logo.png'/>
    <meta name='og:image:width' content='512'/>
    <meta name='og:image:height' content='512'/>
    <meta name='twitter:image' content='//www.sozidanie.org.ua/images/logo.png'/>
    <meta name='twitter:image:width' content='512'/>
    <meta name='twitter:image:height' content='512'/>
    <meta name='twitter:card' content='summary_large_image'/>
    <meta name='twitter:image:alt' content='Созидание логотип'/>
  </head>
  <body>
    <section>
      <header class="narrow">
        <p>
          <a href="/"><img src="/images/logo.svg" style="height:150px;vertical-align:middle;" alt="sozidanie logo"/></a>
          <span class="top-icons">
            <a href="https://www.facebook.com/sozidanie.org.ua" title="Читайте нас на Facebook">
              <i class="socicon-facebook"></i>
            </a>
            <a href="https://twitter.com/intent/follow?screen_name=sozidanieorgua" title="Следите за новостями на Twitter">
              <i class="socicon-twitter"></i>
            </a>
            <a href="/rss.xml" title="Подпишитесь на наш RSS канал">
              <i class="socicon-rss"></i>
            </a>
            <a href="mailto:sozidanie.org.ua@gmail.com" title="Пишите нам письма">
              <i class="socicon-mail"></i>
            </a>
          </span>
        </p>
      </header>
      <div>{{ content }}</div>
      <footer class="narrow">
        <p>
          &copy; 2017-2018 "Созидание".
          Все авторские права принадлежат авторам.
        </p>
      </footer>
    </section>
    <script src="//code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="/js/post.js" async="async"></script>
    <script type="text/javascript">var disqus_shortname = 'sozidanieorgua';</script>
    <script id="dsq-count-scr" src="//sozidanieorgua.disqus.com/count.js" async="async"></script>
    <script language="javascript" type="text/javascript">
      Cd=document;Cr="&"+Math.random();Cp="&s=1";
      Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
      Cp+="&t="+(new Date()).getTimezoneOffset();
      if(self!=top)Cp+="&f=1";
    </script>
    <script language="javascript1.1" type="text/javascript">
      if(navigator.javaEnabled())Cp+="&j=1";
    </script>
    <script language="javascript1.2" type="text/javascript">
      if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
      screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
    </script>
    <script language="javascript" type="text/javascript">
      Cd.write("<img src='//c.hit.ua/hit?i=81200&g=0&x=2"+Cp+Cr+
      "&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+
      "' border='0' wi"+"dth='1' he"+"ight='1'/>");
    </script>
  </body>
</html>
