---
layout: default
---

<div class="narrow">
  <h1>{{ page.title }}</h1>
  <div>
    <nav class="buttons">
      <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
        title="Поделитесь через Facebook" class="button" rel="nofollow">
        <span class="count count-facebook">0</span>
        <i class="icon socicon-facebook"></i></a>
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
        title="Поделитесь через Twitter" class="button" rel="nofollow">
        <span class="count count-twitter">0</span>
        <i class="icon socicon-twitter"></i></a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
        title="Поделитесь через Google+" class="button" rel="nofollow">
        <span class="count count-googleplus">0</span>
        <i class="icon socicon-googleplus"></i></a>
      <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"
        title="Поделитесь через LinkedIn" class="button" rel="nofollow">
        <span class="count count-linkedin">0</span>
        <i class="icon socicon-linkedin"></i></a>
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
        title="Поделись через Reddit" class="button" rel="nofollow">
        <span class="count count-reddit">0</span>
        <i class="icon socicon-reddit"></i></a>
    </nav>
  </div>
  <div>{{ content }}</div>
</div>

<div class="disqus" role="complementary">
  <div id="disqus_thread" class="disqus-thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = document.location.href.split('?')[0].split('#')[0];
      this.page.identifier = this.page.url;
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//sozidanieorgua.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    <div>
      <p class="red">
        JavaScript отключен у Вас в броузере, поэтому Вы не видите
        комментарии, оставленные читателями к этой статье.
      </p>
    </div>
  </noscript>
</div>
